html{
font-family: Acumin, Univers, Arial, Helvetica, sans-serif;
color: white;
}

body {
    background-color: rgb(93, 195, 208);
}

.Topp{
    text-align: center;
    position:fixed;
    width:100%;
    height: 130px;
    background-color: #003466;
    top:0px;
    left:0px;
    z-index: 1;
}
    
.leftnav{
    grid-area: 1/1/1/1;
    background-color: #3AAFA5;
    margin-left:-10px;
    margin-top:120px;
    align-items: center;
    margin-bottom:-200px;
    text-align:center;
}
.index{
    display: flex;
    flex-direction: column;
}
.index>*{
    margin: 10px;
    background-color: #2B7A78;
    padding: 10px;
    border-radius: 5px;
}
.index>a>div{
    color:white;
    text-decoration: none;
}
.resumedownload{
    margin:10px;
    background-color: #696bde;
    padding:10px;
    border-radius:10px;
}
.resumedownload:hover{
    background-color: #2023d9;
    h2{
        color:rgb(157, 157, 157);
    }
}
.resumedownload>h2{
    color:white;
    text-decoration: none;
}
.mainbody{
    grid-area: 1/2/1/2;
    margin-top:140px;
    margin-left:20px;
    display:flex;
    flex-direction: column;
    width:100%;
}
.mainbody>div{
    width:90%;
    justify-content: center;
    margin: 20px auto;
}

.footer{
    background-color: #003466;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    bottom:0px;
    left:0px;
    width :100%;
    justify-content: space-evenly;
}
#skillssection>div>ul{
    list-style-type: none;
}

h2,#skillssection>div>h3{
    text-align: center;
}
/* Phone */
@media (max-width: 768px) {

    .container {
        display: grid;
        grid-template-columns: 200px auto;
    }
    .resumedownload{
        position: absolute;
        bottom:0px;
        width:170px;
    }
    #skillssection{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row: 50% 50%;
        gap:10px;
    }
    #skill1{
        grid-area: 1/1/1/1;
    }
    #skill2{
        grid-area: 1/2/1/2;
    }
    #skill3{
        grid-area: 2/1/2/1;
    }
    #skill4{
        grid-area: 2/2/2/2;
    }
    #projects{
        display:grid;
        grid-template-rows: 1fr 1fr;
        gap:20px;
    }
    #project1{
        grid-area: 1/1/1/1;
    }
    #project2{
        grid-area: 2/1/2/1;
    }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {

    .container {
        display: grid;
        grid-template-columns: 300px auto;
        gap:20px;
    }
    .resumedownload{
        position: absolute;
        bottom:0px;
        width:270px;
    }
    #skillssection{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-row: 50% 50%;
        gap:10px;
    }
    #skill1{
        grid-area: 1/1/1/1;
    }
    #skill2{
        grid-area: 1/2/1/2;
    }
    #skill3{
        grid-area: 2/1/2/1;
    }
    #skill4{
        grid-area: 2/2/2/2;
    }
    #projects{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
    #project1{
        grid-area: 1/1/1/1;
    }
    #project2{
        grid-area: 1/2/1/2;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .container {
        display: grid;
        grid-template-columns: 300px auto;
        gap:20px;
    }
    .resumedownload{
        position: absolute;
        bottom:0px;
        width:270px;
    }
    #skillssection{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        gap:10px;
    }
    #skill1{
        grid-area: 1/1/1/1;
    }
    #skill2{
        grid-area: 1/2/1/2;
    }
    #skill3{
        grid-area: 1/3/1/3;
    }
    #skill4{
        grid-area: 1/4/1/4;
    }
    #projects{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
    #project1{
        grid-area: 1/1/1/1;
    }
    #project2{
        grid-area: 1/2/1/2;
    }
}
